.CarouselDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-item {
  transition: transform 0.6s ease-in-out;
  height: 55vh;
}

.CarouselImg {
  margin: 0 auto;
  max-height: 100%;
  border-radius: 20px;
}
